{
  "log": {
    "_recordingName": "generateAccessToken/should fail to generate the access token when the body has any incorrect key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "65fff6bdadff93f5670e21f44a346b35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "multipart/form-data; boundary=--------------------------294376661438547716537185"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Client-ID cdd007b11769851"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------294376661438547716537185",
            "params": [],
            "text": "----------------------------294376661438547716537185\r\nContent-Disposition: form-data; name=\"refresh_token\"\r\n\r\n123\r\n----------------------------294376661438547716537185\r\nContent-Disposition: form-data; name=\"client_id\"\r\n\r\n\r\n----------------------------294376661438547716537185\r\nContent-Disposition: form-data; name=\"client_secret\"\r\n\r\n\r\n----------------------------294376661438547716537185\r\nContent-Disposition: form-data; name=\"grant_type\"\r\n\r\nrefresh_token\r\n----------------------------294376661438547716537185--\r\n"
          },
          "queryString": [],
          "url": "https://api.imgur.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 140,
            "text": "{\"data\":{\"error\":\"Client id was not found in the headers or body\",\"request\":\"\\/oauth2\\/token\",\"method\":\"POST\"},\"success\":false,\"status\":400}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-post-rate-limit-limit",
              "value": "1250"
            },
            {
              "name": "x-post-rate-limit-remaining",
              "value": "1245"
            },
            {
              "name": "x-post-rate-limit-reset",
              "value": "3573"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 452,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
