{
  "log": {
    "_recordingName": "generateAccessToken/should genereate the access token successfully when the body has correct keys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "65fff6bdadff93f5670e21f44a346b35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "multipart/form-data; boundary=--------------------------613372794425601953624123"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "Client-ID cdd007b11769851"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "multipart/form-data; boundary=--------------------------613372794425601953624123",
            "params": [],
            "text": "----------------------------613372794425601953624123\r\nContent-Disposition: form-data; name=\"refresh_token\"\r\n\r\n9354a440667697c7f0fed3cd1717daf4327eadfd\r\n----------------------------613372794425601953624123\r\nContent-Disposition: form-data; name=\"client_id\"\r\n\r\ncdd007b11769851\r\n----------------------------613372794425601953624123\r\nContent-Disposition: form-data; name=\"client_secret\"\r\n\r\n1abb919d83b6cfea854108b4a87d9e36a2ea7e55\r\n----------------------------613372794425601953624123\r\nContent-Disposition: form-data; name=\"grant_type\"\r\n\r\nrefresh_token\r\n----------------------------613372794425601953624123--\r\n"
          },
          "queryString": [],
          "url": "https://api.imgur.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "{\"access_token\":\"c832ee6038060c36619eef1cc2cc9373c216fcf0\",\"expires_in\":315360000,\"token_type\":\"bearer\",\"scope\":\"\",\"refresh_token\":\"242bf07fa9f167dbffb9a6821906cf2b89e22340\",\"account_id\":120024903,\"account_username\":\"HerbertVidela1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-post-rate-limit-limit",
              "value": "1250"
            },
            {
              "name": "x-post-rate-limit-remaining",
              "value": "1247"
            },
            {
              "name": "x-post-rate-limit-reset",
              "value": "3573"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 655,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
